async-timeout==2.0.1
attrs==17.4.0
chardet==3.0.4
cycler==0.10.0
idna==2.6
idna-ssl==1.0.1
kiwisolver==1.0.1
matplotlib==2.2.2
multidict==4.1.0
numpy==1.22.0
pygame==1.9.3
pyparsing==2.2.0
pyserial==3.4
python-dateutil==2.7.2
pytz==2018.3
requests==2.9.1
six==1.11.0
yarl==1.1.1
