aiohttp==2.3.10
chardet==2.3.0
command-not-found==0.3
cycler==0.10.0
decorator==4.2.1
defer==1.0.6
future==0.16.0
iso8601==0.1.12
kiwisolver==1.0.1
language-selector==0.1
lightdm-gtk-greeter-settings==1.2.1
louis==2.6.4
lxml>=3.5.0
Mako==1.0.3
MarkupSafe==0.23
mate-tweak==3.5.10
matplotlib==2.2.2
numpy==1.11.0
onboard==1.2.0
pexpect==4.0.1
Pillow==3.1.2
polib==1.0.7
psutil==3.4.2
ptyprocess==0.5
pycups==1.9.73
pycurl==7.43.0
pygame==1.9.3
pygobject==3.20.0
pyparsing==2.2.0
pyserial==3.4
python-apt==1.1.0b1+ubuntu0.16.4.1
python-dateutil==2.7.0
python-debian==0.1.27
python-systemd==231
pytz==2018.3
pyxdg==0.25
PyYAML==3.12
reportlab==3.3.0
requests==2.9.1
scipy==0.17.0
screen-resolution-extra==0.0.0
sessioninstaller==0.0.0
setproctitle==1.1.8
six==1.10.0
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
usb-creator==0.3.0
xkit==0.0.0
